/*
Goal
Replica https://vcordero07.github.io/uscitizenship-quiz/

Add
add submit button (user must click submit button)
on each quiz page, have 3 small  white circle instead of boxes to inform current position of questions, score, submit on the top of black border
Start Page has giant bold text in black centered in the first fold of page
Start Page has big red circle as the button to start underneath the bold text



Specs
Background is black
form has no border
form has light grey padding
title has white text
title is on the top of blue box
title has light grey padding
Question has black box
multiple choice as a box with white border
multiple choice box turns border to blue when selected
multiple choice box border turns back to white if other is selected
when submitted, correct answer's box turns blue
when subbmitted, wrong answer's box turns red
when displaying all answer in the final page, correct answers have green box
when displaying all answer in the final page, wrong answers have red box
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/*additional css begins*/

.hidden {
    display: none;
}


/*additional css ends*/

body {
    background-color: black;
    padding-left: 30px;
    padding-right: 30px;
}

header {
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    margin-left: 60px;
    margin-right: 60px;
    margin: 10px;
    margin-bottom: 10px;
    background-color: blue;
    font-size: 40px;
}

header img {
    height: 140px;
}

main {
    border-color: green;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.start-section {
    vertical-align: middle;
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 1%;
    padding-bottom: 20%;
    padding-left: 30px;
    padding-right: 30px
}

h2 {
    font-size: 35px;
    margin-bottom: 30px;
}

.start-button {
    height: 200px;
    width: 200px;
    color: white;
    font-size: 20px;
    background-color: red;
    border: 10px white solid;
    border-radius: 50%;
}

.question-section {
    padding-top: 20px;
    margin-bottom: 30px;
}

.question-answer-container {
    border-radius: 25px;
    background-color: grey;
    padding-bottom: 15px;
}

.question-container {
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 30px;
}

.answers-container {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 24px;
    margin-bottom: 20px;
}

.answer {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 25px;
}

.status-container {
    background-color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px
}

.question-circle {
    background-color: white;
    display: inline-block;
    border: 2px black solid;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.score-circle {
    background-color: white;
    display: inline-block;
    border: 2px black solid;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.submit-button {
    background-color: white;
    display: inline-block;
    border: 2px black solid;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.final-section {
    padding-top: 30px;
}

.final-question-answer-container {
    background-color: grey;
    border-radius: 25px;
    padding-bottom: 20px;
    padding-top: 30px;
}

.final-score-container {
    border: 2px green solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 30px;
}

.key-answer-container {
    border: 2px blue solid;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    font-size: 24px;
    margin-left: 25px;
    margin-right: 25px;
}

.final-status-container {
    text-align: right;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.reset-button {
    background-color: white;
    display: inline-block;
    border: 2px black solid;
    border-radius: 10px;
    width: 25%;
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}
